<div class="call">
  <div class="call-box-top">
    {% if site.data.call.phone %}
        <div class="call-action"><strong>Cellulare: </strong> <a href="tel:{{ site.data.call.phone }}">{{ site.data.call.phone }}</a> </div>
    {% endif %}
    {% if site.data.call.phone %}
        <div class="call-action"><strong>Telefono: </strong> <a href="tel:{{ site.data.call.phone_office }}" >{{ site.data.call.phone_office }}</a> </div>
    {% endif %}
    {% if site.data.call.email %}
    <div class="call-action"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.call.email }}">
        {{ site.data.call.email }}
      </a>
    </div>
    {% endif %}
  </div>
<!--     {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.call.call_button_link }}" class="button">Contattaci</a>
      </div>
    {% endif %} -->
</div>
