<div class='header'>
  <div class="container">
    <div class="logo">
      <a href="{{ site.baseurl }}"><img src="../images/logo/lr.svg" alt="{{ site.title }}" width="{{ site.logo.desktop_width }}" height="{{ site.logo.desktop_height }}" draggable="false" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}"><img src="../images/logo/lr.svg" alt="{{ site.title }}"  width="{{ site.logo.mobile_width }}" height="{{ site.logo.mobile_height }}" draggable="false" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
