.intro-image {
  width: 100%;
  height: auto;
  margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -80px;
    left: 50px;
    width: 250px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -125px;
    left: 175px;
    width: 300px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -200px;
    left: 200px;
    width: 325px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}
